.example-container {
  width: 100%;
}
table {
  width: 100%;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
padding-left: 80px;
}

.mat-table-sticky-border-elem-right {
border-left: 1px solid #e0e0e0;
}

.mat-table-sticky-border-elem-left {
border-right: 1px solid #e0e0e0;
}

.leaderrors{
height: 5px;
}
.alert-warning {
background: #f9df93;
}