<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a routerLink="/shopping/dashboard" class="brand-link" style="text-align: center">
        <img src="assets/images/logo 2.png" style="height:auto;width:40%;" />
    </a>
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">             
                <li class="nav-item">
                    <a routerLink = "/shopping/dashboard" routerLinkActive="active" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink = "/shopping/category" routerLinkActive="active" class="nav-link">
                        <i class="nav-icon fa fa-list-alt"></i>
                        <p>Categories</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink = "/shopping/brands" routerLinkActive="active" class="nav-link">
                        <i class="nav-icon fa fa-list-alt"></i>
                        <p>Brands</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink = "/shopping/product"  routerLinkActive="active" class="nav-link">
                        <i class="nav-icon fa fa-bullhorn"></i>
                        <p>Products</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink = "/crm/dashboard"  routerLinkActive="active" class="nav-link">
                        <i class="nav-icon fab fa-font-awesome"></i>
                        <p>Go to CRM</p>
                    </a>
                </li>  
                <!-- <li class="nav-item">
                    <a routerLink = "/packages"  routerLinkActive="active" class="nav-link">
                        <i class="nav-icon fas fa-gift"></i>
                        <p>Premium Packages</p>
                    </a>
                </li> -->  
            </ul>
        </nav>
    </div>
</aside>
