<section class="footer-area pb-70">
    <div class="subscribe-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="subscribe-content">
                        <h3>Don't Miss Our Update</h3>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <form class="newsletter-form">
                        <input type="email" class="input-newsletter" placeholder="Your Email" name="EMAIL" required autocomplete="off" />
                        <button type="submit">
                            Subscribe Now
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h3>About CRM</h3>
                    <ul class="quick-links">
                        <li>
                            <a href="#">- What is CRM?</a>
                        </li>
                        <li>
                            <a href="#">- CRM Software</a>
                        </li>
                        <li>
                            <a href="#">- Free CRM</a>
                        </li>
                        <li>
                            <a href="#">- Email for Salespeople</a>
                        </li>
                        <li>
                            <a href="#">- Email Marketing CRM</a>
                        </li>
                        <li>
                            <a href="#">- Social CRM</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Solution</h3>
                    <ul class="quick-links">
                        <li>
                            <a href="#">- Enterprise CRM</a>
                        </li>
                        <li>
                            <a href="#">- SMB CRM</a>
                        </li>
                        <li>
                            <a href="#">- Customer Experience Suite</a>
                        </li>
                        <li>
                            <a href="#">- Services CRM</a>
                        </li>
                        <li>
                            <a href="#">- Financial Services CRM</a>
                        </li>
                        <li>
                            <a href="#">- Life Sciences CRM</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Crm’s</h3>
                    <ul class="quick-links">
                        <li>
                            <a href="#">- Retail CRM</a>
                        </li>
                        <li>
                            <a href="#">- Real Estate CRM</a>
                        </li>
                        <li>
                            <a href="#">- Agency CRM</a>
                        </li>
                        <li>
                            <a href="#">- Insurance CRM</a>
                        </li>
                        <li>
                            <a href="#">- CRM for Sales Reps</a>
                        </li>
                        <li>
                            <a href="#">- CRM for Sales Leaders</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Quick Links</h3>
                    <ul class="quick-links">
                        <li>
                            <a href="#">- Pricing</a>
                        </li>
                        <li>
                            <a href="#">- What is CRM?</a>
                        </li>
                        <li>
                            <a href="#">- Compare Plans</a>
                        </li>
                        <li>
                            <a href="#">- Get Price Quote</a>
                        </li>
                        <li>
                            <a href="#">- Integrations</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="copyright-area">
    <div class="container">
        <div class="copyright-area-content">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <p>
                        <i class="far fa-copyright"></i>
                        Copyright © 2021 CRM. All Rights Reserved by
                    </p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li>
                            <a routerLink="/terms&conditions">Terms & Conditions</a>
                        </li>
                        <li>
                            <a routerLink="/privacy_policies">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="go-top">
    <i class="bx bx-chevron-up"></i>
    <i class="bx bx-chevron-up"></i>
</div>
