<div class="content-wrapper">
    <section class="content">
        <div class="error-page">
          <h2 class="headline text-warning"> 403</h2>
          <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! You Dont have Permissions to access this resource.</h3>
            <p>
                Your client doesn’t have permission to access this resource or to perform the operation. Usually this means the user your client is logged in as just doesn’t own the resource or doesn’t have the access rights needed..
              Meanwhile, you may <a routerLink="/crm/dashboard">return to dashboard</a> or <a  (click)="back()" style = "cursor: pointer; color: blue;">back to prevoius page.</a>
            </p>
          </div>
        </div>
    </section>
</div>