<div class="hold-transition sidebar-mini layout-fixed mat-typography">
    <div class="wrapper">
        <app-navbar ></app-navbar>
        <app-aside ></app-aside>
        <div class="cardsloader" *ngIf="loading">
            <div class="cardloader is-loading">
                <div class="content">
                    <h2></h2>
                </div>
            </div>
        </div>
        <div class="content-wrapper" *ngIf="loading==false">
            <div class="card card-primary card-outline">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">Tasks</h1>
                        </div> 
                    </div>
                    <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="custom-content-below-home-tab" data-toggle="pill"
                            routerLink="/crm/tasks" role="tab" aria-controls="custom-content-below-home"
                                aria-selected="true">Tasks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-content-below-profile-tab" data-toggle="pill"
                            (click)="edittask.reset()" routerLink="/crm/tasks/add" href="#custom-content-below-profile" role="tab" aria-controls="custom-content-below-profile"
                                aria-selected="true">Add New</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="custom-content-below-tabContent">
                        <div class="tab-pane fade show active"  id="custom-content-below-home" role="tabpanel"
                            aria-labelledby="custom-content-below-home-tab">
                            <div class="table-responsive mb-4">
                                <form  class="form-horizontal" role="form" [formGroup]= "edittask" (ngSubmit)='onSubmit(edittask.value)'>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Tasks Owner</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-control" formControlName = "profile_id">
                                                            <option *ngFor = "let uts of userlists" [selected]="uts.id==SProfileStatus" value = "{{uts.id}}">{{uts.user.name}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Title <small class="text-danger">*</small></label>
                                                    <div class="col-sm-9">
                                                        <input type="text" [class.is-invalid]="edittask.get('title')?.invalid && edittask.get('title')?.touched" class="form-control" formControlName = "title" placeholder="Subject" />
                                                        <small [class.d-none]="edittask.get('title')?.valid || edittask.get('title')?.untouched" class="text-danger">Please Add Title to Task</small>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Tasks For<small class="text-danger">*</small></label>
                                                    <div class="input-group mb-3 col-sm-9">
                                                        <select class="form-control" formControlName = "task_for" (change)="SelectLeads($event);">
                                                            <option value = "lead">Lead</option>
                                                            <option value = "account">Account</option>
                                                            <option value = "contact">Contact</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Related To<small class="text-danger">*</small></label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" formControlName = "task_related_to">
                                                        <input type="hidden" formControlName="task_related_to_id">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="control-label col-sm-3 col-form-label" for="flatpickr01">Due Date</label>
                                                    <div class="col-sm-9">
                                                        <input type="date" formControlName = "due_date" (change)="startDate($event)" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Status<small class="text-danger">*</small></label>
                                                    <div class="col-sm-9">
                                                        <select class="form-control" formControlName = "status">
                                                            <option value = "1">Not Started</option>
                                                            <option value = "2">In Progress</option>
                                                            <option value = "3">Completed</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Priority<small class="text-danger">*</small></label>
                                                    <div class="col-sm-9">
                                                        <select class="form-control" formControlName = "priority">
                                                            <option value = "1">High</option>
                                                            <option value = "2">Highest</option>
                                                            <option value = "3">Low</option>
                                                            <option value = "4">Lowest</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea class="form-control" rows="3" formControlName = "description" placeholder="Enter ..."></textarea>
                                                </div>
                                                  
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer *ngIf="loading==false"></app-footer>
    <div>
<div>
<div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Leads Settings</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h5 class="m-0"></h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">You must download sample of CSV file for better representations.</p>
                                <button class="btn btn-primary" (click)="downloadsample()"><i class="fa fa-download" aria-hidden="true"></i> Download Sample</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h5 class="m-0"></h5>
                            </div>
                            <div class="card-body">
                                <form action="" [formGroup]= "importCSV" (ngSubmit)='onImport(importCSV.value)'>
                                    <input type="file" formControlName="importLead" (change)="onfileselected($event)">
                                    <p class="card-text">Upload CSV file.</p>
                                    <button class="btn btn-primary" [disabled]="CSVButton" type ="submit"> <i class="fa fa-upload" aria-hidden="true"></i> Upload File</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-Selectlead">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <table  mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" style ="width: 100%;">
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by first_name">select</th>
                            <td mat-cell *matCellDef="let element">
                                <input type="radio" name="lead_id" id="{{element.id}}" (change)="selectLead($event)">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by first_name">Lead</th>
                            <td mat-cell *matCellDef="let element">
                                <a routerLink="/crm/lead-details/{{element.id}}">{{element.title}}</a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="first_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by first_name">Name</th>
                            <td mat-cell *matCellDef="let element">{{element.first_name}}</td>
                        </ng-container>
                        <ng-container matColumnDef="company">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by company">Company</th>
                            <td mat-cell *matCellDef="let element">{{element.company}}</td>
                        </ng-container>
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email">Email</th>
                            <td mat-cell *matCellDef="let element">{{element.email}}</td>
                        </ng-container>
                        <ng-container matColumnDef="phone">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by phone">Phone</th>
                            <td mat-cell *matCellDef="let element">{{element.phone}}</td>
                        </ng-container>
                        <ng-container matColumnDef="lead_source">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by lead_source">Lead Source</th>
                            <td mat-cell *matCellDef="let element">{{element.lead_source}}</td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">Lead Owner</th>
                            <td mat-cell *matCellDef="let element">{{element.profile.user.name}}</td>
                        </ng-container>
                        <ng-container matColumnDef="created_at">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by created_at">Created</th>
                            <td mat-cell *matCellDef="let element">{{element.created_at | date:'fullDate'}}</td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>          
                </div>
            </div>
        </div>
    </div>
</div>