<app-header></app-header>
<section class="management-area ptb-100">
    <div class="container-fluid">
        <div class="row">
            <div  class="col-12 col-sm-6 col-md-3">
                <a [routerLink]="" >
                    <div class="info-box">
                        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-building"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">ORG</span>
                            <span class="info-box-number">
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div  class="col-12 col-sm-6 col-md-3">
                <a [routerLink]="" >
                    <div class="info-box">
                        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-building"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">ORG</span>
                            <span class="info-box-number">
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div  class="col-12 col-sm-6 col-md-3">
                <a [routerLink]="" >
                    <div class="info-box">
                        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-building"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">ORG</span>
                            <span class="info-box-number">
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div  class="col-12 col-sm-6 col-md-3">
                <a [routerLink]="" >
                    <div class="info-box">
                        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-building"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">ORG</span>
                            <span class="info-box-number">
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div  class="col-12 col-sm-6 col-md-3">
                <a [routerLink]="" >
                    <div class="info-box">
                        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-building"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">ORG</span>
                            <span class="info-box-number">
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div  class="col-12 col-sm-6 col-md-3">
                <a routerLink="">
                    <div class="info-box">
                        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-building"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">ORG</span>
                            <span class="info-box-number">
                            </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>