<div class="wrapper">
    <app-navbar ></app-navbar>
    <app-aside ></app-aside>
    <div class="content-wrapper kanban">
        <section class="content-header">
            <div class="cardsloader" *ngIf="loading">
                <div class="cardloader is-loading">
                    <div class="content">
                        <h2></h2>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>Deals</h1>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                        <ol class="breadcrumb float-sm-right">
                            <li><a *ngIf="editDeal" routerLink = "/crm/deals/settings" class="btn btn-primary"><i class="fa fa-cog"></i> Settings</a></li>&nbsp;
                            <li><a *ngIf="AddDeal"  routerLink = "/crm/deal/add" class="btn btn-block btn-primary"> <i class="fa fa-plus"></i> Create Deal</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <section class="content pb-3">
            <div class="container-fluid h-100">
                <div *ngFor = "let list of leadLists" class="card card-row card-success">
                    <div class="card-header">
                        <h3 class="card-title">
                            {{list.name}}
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="card bg-light" *ngFor = "let deal of list.deals">
                            <div class="card-header text-muted border-bottom-0">
                                <a routerLink="/crm/deal/{{deal.id}}">{{deal.deal_name}}</a>
                            </div>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="lead"><b>{{deal.contact.first_name}}</b></h2>
                                        <p class="text-muted text-sm"><b>Amount: </b>{{deal.amount}} </p>
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <li class="small">
                                                <span class="fa-li"><i class="fas fa-lg fa-building"></i></span> : {{deal.contact.company}}
                                            </li>
                                            <li class="small">
                                                <span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: + {{deal.contact.phone}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="text-right">
                                    <a routerLink="/crm/deal/details/{{deal.id}}" class="btn btn-sm btn-primary"> <i class="fas fa-gift"></i> View Details </a>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="modal fade" id="modal-default2deal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Roles</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="card-body">
                            
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>    
    <app-footer *ngIf="loading==false"></app-footer>
<div>