<app-header></app-header>
<div class="home-sliders owl-carousel owl-theme">
    <div class="home-item item-bg1">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="slider-content">
                        <b>Your Life's Work</b>
                        <h1 style="font-size: 25px;">Successful CRM Management</h1>
                        <p>CRM empowers a global network of over 150,000 businesses in 180 countries to engage with customers and grow their revenue</p>
                        <div class="slider-btn">
                            <a href="#" class="default-btn">
                                Try CRM Free
                                <i class="bx bx-right-arrow-alt"></i>
                                <span></span>
                            </a>
                            <a href="#" class="video-btn popup-youtube">
                                <i class="bx bx-play"></i>
                                How Its Work
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-item item-bg2">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="slider-content">
                        <b>Your Life's Work</b>
                        <h1 style="font-size: 25px;">Successful CRM Management</h1>
                        <p>CRM empowers a global network of over 150,000 businesses in 180 countries to engage with customers and grow their revenue</p>
                        <div class="slider-btn">
                            <a href="#" class="default-btn">
                                Try CRM Free
                                <i class="bx bx-right-arrow-alt"></i>
                                <span></span>
                            </a>
                            <a href="#" class="video-btn popup-youtube">
                                <i class="bx bx-play"></i>
                                How Its Work
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="platform-area ptb-100">
    <div class="container-fluid">
        <div class="section-title">
            <span>CRM Platform</span>
            <h2>Features Selling Easier</h2>
            <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus.</p>
        </div>
        <div class="tab platform-list-tab">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <ul class="tabs">
                        <li>
                            <a href="#" class="bg-f12711">
                                <i class="bx bx-right-arrow-alt"></i>
                                Sales Force Automation
                            </a>
                        </li>
                        <li>
                            <a href="#" class="bg-0067ff">
                                <i class="bx bx-right-arrow-alt"></i>
                                Process Management
                            </a>
                        </li>
                        <li>
                            <a href="#" class="bg-1b2b37">
                                <i class="bx bx-right-arrow-alt"></i>
                                Omni Channel
                            </a>
                        </li>
                        <li>
                            <a href="#" class="bg-f12711">
                                <i class="bx bx-right-arrow-alt"></i>
                                Marketing Automation
                            </a>
                        </li>
                        <li>
                            <a href="#" class="bg-0067ff">
                                <i class="bx bx-right-arrow-alt"></i>
                                Team Collaboration
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9">
                    <div class="tab_content">
                        <div class="tabs_item">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="platform-image">
                                        <img src="assets/assets/img/image1.jpg" alt="image" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="platform-content">
                                        <h2>Sales Force Automation</h2>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="platform-text bar">
                                                    <div class="image">
                                                        <img src="assets/assets/img/file.png" alt="image" />
                                                    </div>
                                                    <h3>Processing Rules</h3>
                                                    <p>Your home equity by paying amet seeturlit sed dolor</p>
                                                    <a href="#" class="platform-btn">
                                                        <i class="bx bx-right-arrow-alt"></i>
                                                        Discover More
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="platform-text">
                                                    <div class="image">
                                                        <img src="assets/assets/img/builder.png" alt="image" />
                                                    </div>
                                                    <h3>Sales Process Builder</h3>
                                                    <p>Your home equity by paying amet seeturlit sed dolor</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs_item">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="platform-image">
                                        <img src="assets/assets/img/image2.jpg" alt="image" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="platform-content">
                                        <h2>Process Management</h2>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="platform-text bar">
                                                    <div class="image">
                                                        <img src="assets/assets/img/file.png" alt="image" />
                                                    </div>
                                                    <h3>Processing Rules</h3>
                                                    <p>Your home equity by paying amet seeturlit sed dolor</p>
                                                    <a href="#" class="platform-btn">
                                                        <i class="bx bx-right-arrow-alt"></i>
                                                        Discover More
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="platform-text">
                                                    <div class="image">
                                                        <img src="assets/assets/img/builder.png" alt="image" />
                                                    </div>
                                                    <h3>Sales Process Builder</h3>
                                                    <p>Your home equity by paying amet seeturlit sed dolor</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs_item">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="platform-image">
                                        <img src="assets/assets/img/image3.jpg" alt="image" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="platform-content">
                                        <h2>Omni Channel</h2>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="platform-text bar">
                                                    <div class="image">
                                                        <img src="assets/assets/img/file.png" alt="image" />
                                                    </div>
                                                    <h3>Processing Rules</h3>
                                                    <p>Your home equity by paying amet seeturlit sed dolor</p>
                                                    <a href="#" class="platform-btn">
                                                        <i class="bx bx-right-arrow-alt"></i>
                                                        Discover More
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="platform-text">
                                                    <div class="image">
                                                        <img src="assets/assets/img/builder.png" alt="image" />
                                                    </div>
                                                    <h3>Sales Process Builder</h3>
                                                    <p>Your home equity by paying amet seeturlit sed dolor</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs_item">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="platform-image">
                                        <img src="assets/assets/img/image4.jpg" alt="image" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="platform-content">
                                        <h2>Marketing Automation</h2>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="platform-text bar">
                                                    <div class="image">
                                                        <img src="assets/assets/img/file.png" alt="image" />
                                                    </div>
                                                    <h3>Processing Rules</h3>
                                                    <p>Your home equity by paying amet seeturlit sed dolor</p>
                                                    <a href="#" class="platform-btn">
                                                        <i class="bx bx-right-arrow-alt"></i>
                                                        Discover More
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="platform-text">
                                                    <div class="image">
                                                        <img src="assets/assets/img/builder.png" alt="image" />
                                                    </div>
                                                    <h3>Sales Process Builder</h3>
                                                    <p>Your home equity by paying amet seeturlit sed dolor</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs_item">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="platform-image">
                                        <img src="assets/assets/img/image5.jpg" alt="image" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="platform-content">
                                        <h2>Team Collaboration</h2>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="platform-text bar">
                                                    <div class="image">
                                                        <img src="assets/assets/img/file.png" alt="image" />
                                                    </div>
                                                    <h3>Processing Rules</h3>
                                                    <p>Your home equity by paying amet seeturlit sed dolor</p>
                                                    <a href="#" class="platform-btn">
                                                        <i class="bx bx-right-arrow-alt"></i>
                                                        Discover More
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="platform-text">
                                                    <div class="image">
                                                        <img src="assets/assets/img/builder.png" alt="image" />
                                                    </div>
                                                    <h3>Sales Process Builder</h3>
                                                    <p>Your home equity by paying amet seeturlit sed dolor</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="management-area ptb-100">
    <div class="container-fluid">
        <div class="section-title">
            <span>CRM Management</span>
            <h2>Powerful Better Together</h2>
            <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
        </div>
        <div class="management-slider owl-carousel owl-theme">
            <div class="management-item">
                <h3>Free CRM</h3>
                <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit nam nec tellus a odio tincidunt auctor.</p>
                <ul class="management-list">
                    <li>
                        <i class="bx bx-right-arrow-alt"></i>
                        Neque porro quisquam
                    </li>
                    <li>
                        <i class="bx bx-right-arrow-alt"></i>
                        dolorem ipsum
                    </li>
                    <li>
                        <i class="bx bx-right-arrow-alt"></i>
                        quisquam est qui
                    </li>
                </ul>
                <a href="#" class="management-btn">
                    <i class="bx bx-right-arrow-alt"></i>
                    Get Free CRM
                </a>
            </div>
            <div class="management-item">
                <h3>CMS Hub</h3>
                <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit nam nec tellus a odio tincidunt auctor.</p>
                <ul class="management-list">
                    <li>
                        <i class="bx bx-right-arrow-alt"></i>
                        Neque porro quisquam
                    </li>
                    <li>
                        <i class="bx bx-right-arrow-alt"></i>
                        dolorem ipsum
                    </li>
                    <li>
                        <i class="bx bx-right-arrow-alt"></i>
                        quisquam est qui
                    </li>
                </ul>
                <a href="#" class="management-btn">
                    <i class="bx bx-right-arrow-alt"></i>
                    Get Free CRM
                </a>
            </div>
            <div class="management-item">
                <h3>Marketing Hub</h3>
                <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit nam nec tellus a odio tincidunt auctor.</p>
                <ul class="management-list">
                    <li>
                        <i class="bx bx-right-arrow-alt"></i>
                        Neque porro quisquam
                    </li>
                    <li>
                        <i class="bx bx-right-arrow-alt"></i>
                        dolorem ipsum
                    </li>
                    <li>
                        <i class="bx bx-right-arrow-alt"></i>
                        quisquam est qui
                    </li>
                </ul>
                <a href="#" class="management-btn">
                    <i class="bx bx-right-arrow-alt"></i>
                    Get Free CRM
                </a>
            </div>
            <div class="management-item">
                <h3>Free CRM</h3>
                <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit nam nec tellus a odio tincidunt auctor.</p>
                <ul class="management-list">
                    <li>
                        <i class="bx bx-right-arrow-alt"></i>
                        Neque porro quisquam
                    </li>
                    <li>
                        <i class="bx bx-right-arrow-alt"></i>
                        dolorem ipsum
                    </li>
                    <li>
                        <i class="bx bx-right-arrow-alt"></i>
                        quisquam est qui
                    </li>
                </ul>
                <a href="#" class="management-btn">
                    <i class="bx bx-right-arrow-alt"></i>
                    Get Free CRM
                </a>
            </div>
            <div class="management-item">
                <h3>CMS Hub</h3>
                <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit nam nec tellus a odio tincidunt auctor.</p>
                <ul class="management-list">
                    <li>
                        <i class="bx bx-right-arrow-alt"></i>
                        Neque porro quisquam
                    </li>
                    <li>
                        <i class="bx bx-right-arrow-alt"></i>
                        dolorem ipsum
                    </li>
                    <li>
                        <i class="bx bx-right-arrow-alt"></i>
                        quisquam est qui
                    </li>
                </ul>
                <a href="#" class="management-btn">
                    <i class="bx bx-right-arrow-alt"></i>
                    Get Free CRM
                </a>
            </div>
            <div class="management-item">
                <h3>Marketing Hub</h3>
                <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit nam nec tellus a odio tincidunt auctor.</p>
                <ul class="management-list">
                    <li>
                        <i class="bx bx-right-arrow-alt"></i>
                        Neque porro quisquam
                    </li>
                    <li>
                        <i class="bx bx-right-arrow-alt"></i>
                        dolorem ipsum
                    </li>
                    <li>
                        <i class="bx bx-right-arrow-alt"></i>
                        quisquam est qui
                    </li>
                </ul>
                <a href="#" class="management-btn">
                    <i class="bx bx-right-arrow-alt"></i>
                    Get Free CRM
                </a>
            </div>
        </div>
    </div>
</section>

<section class="about-area pt-100">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 pl-0">
                <div class="about-image">
                    <img src="assets/assets/img/about-img1.jpg" alt="image" />
                    <div class="shape">
                        <img src="assets/assets/img/shape2.png" alt="shape" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <span>About CRM</span>
                    <h2>We Are Fully Dedicated To Support</h2>
                    <p>There's this notion that to grow a business, you have to be rutless But we know there's a better way to grow</p>
                    <div class="about-text">
                        <h3>Our Mission</h3>
                        <p>Ryun ipsum dolor sit ametconsecteturing elit sed do eiusmod tempor incididunt laboret dolore magna aliqua minaquaerat.</p>
                    </div>
                    <div class="about-text">
                        <h3>Our Story</h3>
                        <p>Ryun ipsum dolor sit ametconsecteturing elit sed do eiusmod tempor incididunt laboret dolore magna aliqua minaquaerat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features-area pb-100">
    <div class="container">
        <div class="section-title-two">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="title">
                        <span>CRM Features</span>
                        <h2>Keep Up The Sales Remote Features</h2>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="text">
                        <p>Team ipsum dolor sit ametconsecteturing elit sed do eiusmod tempor incididunt laboret dolore magna aliqua minaquaerat.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="features-content">
                    <div class="image">
                        <img src="assets/assets/img/sales.png" alt="image" />
                    </div>
                    <h3>Conduct Sales Meetings</h3>
                    <p>Ryun ipsum dolor sit ametconsecteturing elit sed do eiusmod tempor incididunt</p>
                </div>
                <div class="features-content">
                    <div class="image">
                        <img src="assets/assets/img/calculator.png" alt="image" />
                    </div>
                    <h3>Stay Ahead Of The Numbers</h3>
                    <p>Ryun ipsum dolor sit ametconsecteturing elit sed do eiusmod tempor incididunt</p>
                </div>
                <div class="features-content">
                    <div class="image">
                        <img src="assets/assets/img/team.png" alt="image" />
                    </div>
                    <h3>Collaborate With Your Team</h3>
                    <p>Ryun ipsum dolor sit ametconsecteturing elit sed do eiusmod tempor incididunt</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="features-image">
                    <img src="assets/assets/img/blog-1.jpg" alt="image" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="why-choose-area pt-100 pb-70">
    <div class="container">
        <div class="section-title-two">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="title">
                        <span>Why Choose Us</span>
                        <h2>Why We’re Awesome CRM?</h2>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="text">
                        <p>Aenean Sollicitudin, Lorem quis Bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-choose-item">
                    <img src="assets/assets/img/image1.jpg" alt="image" />
                    <div class="title">
                        <h3>Simple Straight Forward User Interface Ect</h3>
                    </div>
                    <div class="content">
                        <div class="inner-content">
                            <h3>
                                <a href="#">Simple Straight Forward User Interface Ect</a>
                            </h3>
                            <p>Migration dolor sit amet conseetur diisci velit sed quia non nuam eius modi tempora incidunt</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-choose-item">
                    <img src="assets/assets/img/image2.jpg" alt="image" />
                    <div class="title">
                        <h3>Developer Platform That Tighter Integration</h3>
                    </div>
                    <div class="content">
                        <div class="inner-content">
                            <h3>
                                <a href="#">Developer Platform That Tighter Integration</a>
                            </h3>
                            <p>Migration dolor sit amet conseetur diisci velit sed quia non nuam eius modi tempora incidunt</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-choose-item">
                    <img src="assets/assets/img/image3.jpg" alt="image" />
                    <div class="title">
                        <h3>Migration Wizard To Data From Spreadly</h3>
                    </div>
                    <div class="content">
                        <div class="inner-content">
                            <h3>
                                <a href="#">Migration Wizard To Data From Spreadly</a>
                            </h3>
                            <p>Migration dolor sit amet conseetur diisci velit sed quia non nuam eius modi tempora incidunt</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-choose-item">
                    <img src="assets/assets/img/image4.jpg" alt="image" />
                    <div class="title">
                        <h3>Clear Pricing Plans Gentle Monthly Contract</h3>
                    </div>
                    <div class="content">
                        <div class="inner-content">
                            <h3>
                                <a href="#">Clear Pricing Plans Gentle Monthly Contract</a>
                            </h3>
                            <p>Migration dolor sit amet conseetur diisci velit sed quia non nuam eius modi tempora incidunt</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-choose-item">
                    <img src="assets/assets/img/image5.jpg" alt="image" />
                    <div class="title">
                        <h3>Consult, Onboarding And Training Programs</h3>
                    </div>
                    <div class="content">
                        <div class="inner-content">
                            <h3>
                                <a href="#">Consult, Onboarding And Training Programs</a>
                            </h3>
                            <p>Migration dolor sit amet conseetur diisci velit sed quia non nuam eius modi tempora incidunt</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-choose-item">
                    <img src="assets/assets/img/image6.jpg" alt="image" />
                    <div class="title">
                        <h3>Sell On The With Our Awarded Crm Apps</h3>
                    </div>
                    <div class="content">
                        <div class="inner-content">
                            <h3>
                                <a href="#">Sell On The With Our Awarded Crm Apps</a>
                            </h3>
                            <p>Migration dolor sit amet conseetur diisci velit sed quia non nuam eius modi tempora incidunt</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="accompany-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>CRM Enterprise</span>
            <h2>We Accompany On Steps</h2>
            <p>Your business is in a state of constant evolution—an evolution that your software needs to be able to accomodate effortlessly</p>
        </div>
        <div class="tab accompany-list-tab">
            <ul class="tabs">
                <li>
                    <a href="#">
                        <img src="assets/assets/img/lamp.png" alt="image" />
                        <span>Small Business</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/assets/img/microscope.png" alt="image" />
                        <span>CRM For Life Sciences</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/assets/img/modern-house.png" alt="image" />
                        <span>Real Estate CRM</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/assets/img/analysis.png" alt="image" />
                        <span>CRM Financial Services</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/assets/img/protect.png" alt="image" />
                        <span>CRM Insurance</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/assets/img/research.png" alt="image" />
                        <span>Retail Management</span>
                    </a>
                </li>
            </ul>
            <div class="tab_content">
                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="accompany-image">
                                <img src="assets/assets/img/image1.jpg" alt="image" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="accompany-content">
                                <h2>Small Businesss</h2>
                                <p>Our plan dolor sit amet conseetur diisci velit sed quiLorem ipsum dolor sit ame consectetur adipisicing elit</p>
                                <ul class="list">
                                    <li>
                                        <i class="bx bx-chevrons-right"></i>
                                        Respect for all people
                                    </li>
                                    <li>
                                        <i class="bx bx-chevrons-right"></i>
                                        Excellence in everything we do
                                    </li>
                                    <li>
                                        <i class="bx bx-chevrons-right"></i>
                                        Truthfulness in our business
                                    </li>
                                    <li>
                                        <i class="bx bx-chevrons-right"></i>
                                        Unquestionable integrity
                                    </li>
                                </ul>
                                <a href="#" class="accompany-btn">
                                    Read More
                                    <i class="bx bx-right-arrow-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="accompany-image">
                                <img src="assets/assets/img/image2.jpg" alt="image" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="accompany-content">
                                <h2>CRM For Life Sciences</h2>
                                <p>Our plan dolor sit amet conseetur diisci velit sed quiLorem ipsum dolor sit ame consectetur adipisicing elit</p>
                                <ul class="list">
                                    <li>
                                        <i class="bx bx-chevrons-right"></i>
                                        Respect for all people
                                    </li>
                                    <li>
                                        <i class="bx bx-chevrons-right"></i>
                                        Excellence in everything we do
                                    </li>
                                    <li>
                                        <i class="bx bx-chevrons-right"></i>
                                        Truthfulness in our business
                                    </li>
                                    <li>
                                        <i class="bx bx-chevrons-right"></i>
                                        Unquestionable integrity
                                    </li>
                                </ul>
                                <a href="#" class="accompany-btn">
                                    Read More
                                    <i class="bx bx-right-arrow-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="accompany-image">
                                <img src="assets/assets/img/image3.jpg" alt="image" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="accompany-content">
                                <h2>Real Estate CRM</h2>
                                <p>Our plan dolor sit amet conseetur diisci velit sed quiLorem ipsum dolor sit ame consectetur adipisicing elit</p>
                                <ul class="list">
                                    <li>
                                        <i class="bx bx-chevrons-right"></i>
                                        Respect for all people
                                    </li>
                                    <li>
                                        <i class="bx bx-chevrons-right"></i>
                                        Excellence in everything we do
                                    </li>
                                    <li>
                                        <i class="bx bx-chevrons-right"></i>
                                        Truthfulness in our business
                                    </li>
                                    <li>
                                        <i class="bx bx-chevrons-right"></i>
                                        Unquestionable integrity
                                    </li>
                                </ul>
                                <a href="#" class="accompany-btn">
                                    Read More
                                    <i class="bx bx-right-arrow-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="accompany-image">
                                <img src="assets/assets/img/image4.jpg" alt="image" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="accompany-content">
                                <h2>CRM Financial Services</h2>
                                <p>Our plan dolor sit amet conseetur diisci velit sed quiLorem ipsum dolor sit ame consectetur adipisicing elit</p>
                                <ul class="list">
                                    <li>
                                        <i class="bx bx-chevrons-right"></i>
                                        Respect for all people
                                    </li>
                                    <li>
                                        <i class="bx bx-chevrons-right"></i>
                                        Excellence in everything we do
                                    </li>
                                    <li>
                                        <i class="bx bx-chevrons-right"></i>
                                        Truthfulness in our business
                                    </li>
                                    <li>
                                        <i class="bx bx-chevrons-right"></i>
                                        Unquestionable integrity
                                    </li>
                                </ul>
                                <a href="#" class="accompany-btn">
                                    Read More
                                    <i class="bx bx-right-arrow-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="accompany-image">
                                <img src="assets/assets/img/image5.jpg" alt="image" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="accompany-content">
                                <h2>CRM Insurance</h2>
                                <p>Our plan dolor sit amet conseetur diisci velit sed quiLorem ipsum dolor sit ame consectetur adipisicing elit</p>
                                <ul class="list">
                                    <li>
                                        <i class="bx bx-chevrons-right"></i>
                                        Respect for all people
                                    </li>
                                    <li>
                                        <i class="bx bx-chevrons-right"></i>
                                        Excellence in everything we do
                                    </li>
                                    <li>
                                        <i class="bx bx-chevrons-right"></i>
                                        Truthfulness in our business
                                    </li>
                                    <li>
                                        <i class="bx bx-chevrons-right"></i>
                                        Unquestionable integrity
                                    </li>
                                </ul>
                                <a href="#" class="accompany-btn">
                                    Read More
                                    <i class="bx bx-right-arrow-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="accompany-image">
                                <img src="assets/assets/img/image6.jpg" alt="image" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="accompany-content">
                                <h2>Retail Management</h2>
                                <p>Our plan dolor sit amet conseetur diisci velit sed quiLorem ipsum dolor sit ame consectetur adipisicing elit</p>
                                <ul class="list">
                                    <li>
                                        <i class="bx bx-chevrons-right"></i>
                                        Respect for all people
                                    </li>
                                    <li>
                                        <i class="bx bx-chevrons-right"></i>
                                        Excellence in everything we do
                                    </li>
                                    <li>
                                        <i class="bx bx-chevrons-right"></i>
                                        Truthfulness in our business
                                    </li>
                                    <li>
                                        <i class="bx bx-chevrons-right"></i>
                                        Unquestionable integrity
                                    </li>
                                </ul>
                                <a href="#" class="accompany-btn">
                                    Read More
                                    <i class="bx bx-right-arrow-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="assistant-area">
    <div class="container">
        <div class="assistant-content">
            <span>Personal Assistant</span>
            <h2>Conversational AI for Smarter Selling</h2>
            <p>Lorem ipsum dolor sit ametconsecteturing elit sed do eiusmod tempor dolore magna aliqua minaquaerat.</p>
            <ul class="list">
                <li>
                    <i class="bx bx-check"></i>
                    Affordable Car Calculater
                </li>
                <li>
                    <i class="bx bx-check"></i>
                    Auto Financing Center
                </li>
                <li>
                    <i class="bx bx-check"></i>
                    Valley All Access Rewards
                </li>
            </ul>
            <a href="#" class="assistant-btn">
                Join Offer
                <i class="bx bx-right-arrow-alt"></i>
            </a>
        </div>
    </div>
</section>

<section class="overview-area ptb-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="overview-image">
                            <img src="assets/assets/img/image1.png" alt="image" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="overview-content">
                            <h2>Don't Miss Customization Webinar</h2>
                            <p>Lorem ipsum dolor sit ametconsecteturing sed do eiusmod tempor inaquae</p>
                            <a href="#" class="btn-one">
                                Register Now
                                <i class="bx bx-right-arrow-alt"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="overview-image">
                            <img src="assets/assets/img/image2.png" alt="image" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="overview-content">
                            <h2>Get your Sales Teams Remote-Ready</h2>
                            <p>Lorem ipsum dolor sit ametconsecteturing sed do eiusmod tempor inaquae</p>
                            <a href="#" class="btn-two">
                                Learn More
                                <i class="bx bx-right-arrow-alt"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>