<mat-dialog-content class="mat-typography">
    <div class="card-header">
        <mat-form-field appearance="fill" style="width: 180px;">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker" >
                <input matStartDate formControlName="start" placeholder="Start date">
                <input matEndDate formControlName="end" placeholder="End date" (dateChange)="getDateRange(range.value)">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field> &nbsp;&nbsp;
        <mat-form-field appearance="fill" style="width: 130px;">
            <mat-label>Select Campaign</mat-label>
            <mat-select (selectionChange)="FilteCampagnSubmit()" [(ngModel)]="FilterCampaign" name="type">
              <mat-option *ngFor="let list of campaignlist" [value]="list.id">{{list.campaign_name}}</mat-option>
            </mat-select>
        </mat-form-field>&nbsp;&nbsp;
        <mat-form-field appearance="fill" style="width: 130px;">
            <mat-label>Call Status</mat-label>
            <mat-select (selectionChange)="FilteCallSubmit()" [(ngModel)]="FilterCallStatus" name="type">
              <mat-option [value]="'called'">Called</mat-option>
              <mat-option [value]="'pending'">Pending</mat-option>
            </mat-select>
        </mat-form-field>&nbsp;&nbsp;
        <mat-form-field appearance="fill" style="width: 130px;">
        <input matInput placeholder="Search" [(ngModel)]="SearchLead">
        </mat-form-field> &nbsp;
        <button mat-raised-button color="primary" (click)="applyfilter()">Apply</button>&nbsp;
        <button mat-stroked-button color="primary" (click)="clearFilter()">Clear</button>
        <div class="row" *ngIf="assignLead || allChecked">
            <div class="col-md-10">
                <input type="text" class="form-control"
                placeholder="Select Member"
                [formControl]="myControl"
                [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let state of statesOptions | async" [value]="state.id+'. '+state.user.name" >
                    {{ state.id }}. {{state.user.name}}
                    </mat-option>
                </mat-autocomplete>
                
            </div>
            <div class="col-md-2">
                <button mat-stroked-button color="primary" (click)="LeadAssign()">Submit</button>
            </div>
        </div>                          
    </div>
    <div class="card-body table-responsive p-0" style="height: 500px;">
        <div *ngIf="loading" class="spinner-container">
            <app-loader></app-loader>
        </div>
        <div class="example-container mat-elevation-z8">
            <table  mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" style ="width: 100%;">
                <ng-container matColumnDef="checkbox" sticky>
                    <th mat-header-cell *matHeaderCellDef style="padding: 22px;">
                      <mat-checkbox [checked]="allChecked" (change)="masterToggle($event)"></mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let element"> 
                        <mat-checkbox (change)="SelectLead($event,element.id)" [(ngModel)]="checkboxStates[element.id]"></mat-checkbox>
                    </td>
                </ng-container> 
                <ng-container matColumnDef="status" sticky >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header   sortActionDescription="Sort by first_name" style="padding: 18px;">Call Status</th>
                    <td mat-cell *matCellDef="let element" style="padding: 18px;">
                        <span class="badge badge-warning" *ngIf="element.leadStatus">{{element.status}}</span>
                    </td>
                </ng-container>                                           
                <ng-container matColumnDef="title" sticky >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header   sortActionDescription="Sort by first_name" style="padding: 18px;">Lead</th>
                    <td mat-cell *matCellDef="let element" style="padding: 18px;">
                       <strong>{{element.title}}</strong> 
                    </td>
                </ng-container>
                <ng-container matColumnDef="first_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by first_name" style="padding: 18px;">Name</th>
                    <td mat-cell *matCellDef="let element" style="padding: 18px;">{{element.first_name}}</td>
                </ng-container>
                <ng-container matColumnDef="company">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by company" style="padding: 18px;">Company</th>
                    <td mat-cell *matCellDef="let element" style="padding: 18px;">{{element.company}}</td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email" style="padding: 18px;">Email</th>
                    <td mat-cell *matCellDef="let element" style="padding: 18px;">{{element.email}}</td>
                </ng-container>
                <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by phone" style="padding: 18px;">Phone</th>
                    <td mat-cell *matCellDef="let element" style="padding: 18px;">{{element.phone}}</td>
                </ng-container>
                <ng-container matColumnDef="lead_source">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by lead_source" style="padding: 18px;">Lead Source</th>
                    <td mat-cell *matCellDef="let element" style="padding: 18px;">{{element.lead_source}}</td>
                </ng-container>
                <ng-container matColumnDef="lead_status" sticky>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by lead_source" style="padding: 18px;">Lead Status</th>
                    <td mat-cell *matCellDef="let element" style="padding: 18px;">
                        <span class="badge badge-warning" *ngIf="element.leadStatus">{{element.leadStatus.name}}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name" style="padding: 18px;">Lead Owner</th>
                    <td mat-cell *matCellDef="let element" style="padding: 18px;">
                        <span *ngIf="element.is_assign=='1'" style="font-size: .8rem;">{{element.profile.user.name}}</span>
                        <span class="right badge badge-danger" *ngIf="element.is_assign=='0'">Not Assign</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="campaign">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by lead_source" style="padding: 18px;">Campaign</th>
                    <td mat-cell *matCellDef="let element" style="padding: 18px;">
                        <p *ngIf="element.camp !== null">{{element.camp.campaign_name}}</p>
                    </td>
                </ng-container>
                <ng-container matColumnDef="created_at" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by created_at" style="padding: 18px;">Created</th>
                    <td mat-cell *matCellDef="let element" style="padding: 18px;">{{element.created_at | date:'mediumDate'}}</td>
                </ng-container>
                <ng-container matColumnDef="id" sticky>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id" style="padding: 18px;">Action</th>
                    <td mat-cell *matCellDef="let element" style="padding: 18px;">
                        <div class="btn-group btn-group-sm">
                            <a *ngIf="editLead" routerLink="/crm/leads/{{element.id}}" class="btn btn-info"><i class="fas fa-edit"></i></a>                                             
                            <button *ngIf="DeleteLead && element.is_assign=='0'"  (click)="ConfirmAlert(element.id)" class="btn btn-danger"><i class="fas fa-trash"></i></button>       
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table> 
            <app-no-data *ngIf = "shownocard"></app-no-data>                                                     
        </div>                                                                                                   
    </div> 
    <div class="card-footer">
        <mat-paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" showFirstLastButtons aria-label="Select page of periodic elements"> 
        </mat-paginator> 
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>

