<app-header></app-header>
<section class="about-area pt-100">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="bg">
                    <div class="card">
                        <span class="card__success"><i class="ion-checkmark"></i></span>

                        <h1 class="card__msg">Payment Complete</h1>
                        <h2 class="card__submsg">Thank you for your transfer</h2>

                        <div class="card__body">
                            <h1 class="card__price"><span>₹</span>{{amount}}</h1>

                            <p class="card__method">Payment method</p>
                            <div class="card__payment">
                                <img src="https://seeklogo.com/images/V/VISA-logo-F3440F512B-seeklogo.com.png" class="card__credit-card" />
                                <div class="card__card-details">
                                    <p class="card__card-type">Credit / debit card</p>
                                    <p class="card__card-number">Visa ending in **89</p>
                                </div>
                            </div>
                        </div>

                        <div class="card__tags">
                            <span class="card__tag">completed</span>
                            <span class="card__tag">#123456789</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
